page-contact {
    #ChangeMail
    {
        
        margin-top: 30px;
    }

    #ChangePassword
    {
        margin: auto;
        margin-top: 30px;
    }

    #DividingLine
    {
        margin-top: 50px;
    }

    .SettingsElements
    {
        text-align: center;
        display: block;
        margin: auto;
    }

    #changeButton
    {
        margin-top: 20px;
    }

}
